:root {
  --primary-1:#5f229c;
  --primary-2: #ed8ab5;
  --transparent-white:#ffffff33;
  --white: #ffffff;
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: var(--white);
  height: 100svh;
  width: 100svw;
  overflow: hidden;
}

.border-both-sides {
  border-left: 2px solid var(--white);
  border-right: 2px solid var(--white);
}

.scroll-snap {
  scroll-snap-type: inline mandatory;
}

.scroll-snap > * {
  scroll-snap-align: start;
}

/*Left side header*/

.wrapper {
  background-image: linear-gradient(45deg, var(--primary-2) 25%, var(--primary-1));
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  height: 100%;
  width: 100%;
}

/*Metric system switch*/

#metric-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

#metric-toggle-swap {
  background-color: var(--transparent-white);
  border-radius: 2rem;
  box-shadow: 0 0px 5px #00000048;
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select:none;
  height: 2rem;
  width: 4rem;
}

#metric-toggle-swap::after {
  content: '';
  background-color: var(--transparent-white);
  border-radius: 2rem;
  box-shadow: 0 0 5px #00000085;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: .25rem;
  left: .2rem;
  transition: .25s;
}

.celcius {
  top: .4rem;
  left: .5rem;
}

.fahrenheit {
  top: .4rem;
  right: .6rem;
}

.celcius, .fahrenheit {
  position: absolute;
}

#metric-toggle:checked + label::after {
  left: 3.8rem;
  transform: translateX(-100%);
}

.left-side-header {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.left-side-header img {
  opacity: .5;
}

/*Left side middle*/

.left-side-middle {
  padding: 3rem 3vw 4rem 3vw;
}

.degree-display {
  font-size: 5rem;
}

.current-weather {
  font-size: 3rem;
  vertical-align: top;
}

.current-date {
  font-size: 1.7rem;
  margin-top: 2rem;
}

.misc-info {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  width: 70%;
}

.misc-category-wrapper {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/*Future days cards*/

#scroll-left-side {
  overflow-x: scroll;
}

.scroll-wrapper {
  display: flex;
  white-space: nowrap;
  width: 28rem;
  margin-top: 5rem;
  padding-bottom: 1rem;
}

.weather-day-div {
  align-items: center;
  background-color: var(--transparent-white);
  border-radius: 1.5rem;
  display: grid;
  grid-template-rows: 4rem 1fr 5rem;
  justify-items: center;
  font-size: 1.5rem;
  margin-right: 1rem;
  height: 12rem;
  width: 6rem;
  min-width: 6rem;
}

.scroll-wrapper::-webkit-scrollbar {
  height: .5rem;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: var(--white)
}

.scroll-wrapper::-webkit-scrollbar-track {
  height: 1rem;
  border-radius: 2rem;
  margin-block: 10rem;
  background-color: var(--transparent-white);
}

/*Right side*/

.right-side {
  background-color: var(--transparent-white);
}

.right-side-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.right-side-header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.right-side-header > div > h1 {
  font-weight: 300;
}

#find-city-button {
  background-color: var(--transparent-white);
  border: 1px solid var(--white);
  border-radius: .6rem;
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  padding: 0 .5rem;
  transition: all .2s;
}

#find-city-button:active {
  transform: scale(.8);
}

#scroll-right-side {
  width: 70%;
  justify-content: space-around;
  margin: 5rem auto 0 auto;
}

.line-breaker {
  align-items: center;
  display: flex;
  justify-content: center;
}

.line-break {
  height: 1px;
  background-color: var(--transparent-white);
  border: none;
  margin: 2rem 1rem 2rem 0; 
  width: 80%;
}

.right-side-bottom-wrapper {
  display: grid;
  grid-template: 10rem 10rem / 1fr 1fr;
  justify-items: center;
}

.right-side-bottom-wrapper > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}